//-index.pug
doctype html
html
    head
        title
            |School
        style
            include ../static/style.css
    body
        
        nav#nav
            ul
                div#logo
                    img(src="/static/badge.png", alt="logo")
                li #[a(href='/')  Home] 
                li #[a(href='/') About]
                li #[a(href='/') Campus life]
                li #[a(href='/') Contact us]
        section#introSection
            
            h1 Educative School System
            p.small Unlock New World OF Education
        section#OurMission
            h1.heading Our Mission 
            div#cards
                div.card
                    div.img.img1
                    h1.heading Academic Excellence
                    p we are providing best faculty to educate students.Our vision is to develop well rounded, confident and responsible individuals who aspire to achieve their full potential
                div.card
                    div.img.img2
                    h1.heading Prepare Skilled Individuals
                    p Our goal is to support and nurture the children’s and our own natural desire to be life-long learners. We are committed to the families we serve, providing support and encouragement. 
                div.card
                    div.img.img3
                    h1.heading Learning Environment
                    p Our Mission is to provide high quality education and childcare in a safe, respectful and inclusive environment that builds a foundation for life-long learning.
        section#GallerySection
            h1.heading Gallery
            div#Gallerybox
                

        footer#footer   
            |Copyright ⓒ  2022 humnayasin All rights  ||  reserved   

        script
            include ../static/index.js